* {
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
}

body {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.headerContent {
    background-color: #212326;
    text-align: center;
    width: 100%;
    padding: 30px;
}

.formContent {
    background-image: url("../images/formBack.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.createAccount a {
    color: #1a5d93;
}

.createAccount a:hover {
    background-color: #c5daec;
}

.forgotPass {
    text-decoration: none;
    color: #1a5d93;
    font-weight: 700;
}

.forgotPass:hover {
    text-decoration: underline;
}

.myForm {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 450px;
    margin-top: 29px;
    margin-bottom: 60px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.363);
}

.myForm h1 {
    font-size: 34px;
    font-weight: 900;
    font-family: Lato, sans-serif;
    margin: 10px 0px 0px 0px;
}

.createAccount {
    margin: 10px 0px 10px 0px;
}

#emailAddress, #passWord {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#emailAddress {
    margin-top: 10px;
    margin-bottom: 30px;
}

#passWord {
    margin-top: 10px;
    margin-bottom: 10px;
}

.showPass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passCheck {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.passCheck p {
    padding: 0;
    margin: 0;
}

#emailAddress:focus, #passWord:focus {
    border: 1px solid #5a96c7;
    box-shadow: 0px 0px 2px 2px #ccc;
    outline: none;
}

.signinBtn {
    width: 100%;
    padding: 10px;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #1a5d93;
    margin-top: 50px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.signinBtn:hover {
    background-color: #28689c;
    cursor: pointer;
}

.optionsContent {
    padding: 40px 30px;
    margin: 0 auto;
}

.optionsGrid {
    display: grid;
    grid-template-areas: 
    'drivers vehicles mcp'
    'organ forestry covid';
    padding: 30px 0px;
    gap: 20px;
}

.optionsGrid ul {
    padding: 0;
    margin-left: 24px;
}

.canDo h2 {
    font-weight: 800;
}

.optionsGrid li {
    padding: 5px;
    color: #727272;
    text-indent: 0;
}

.helpMenu {
    background-color: #f4f4f4;
    padding: 30px 0px;
}

.accordionContent {
    width: 90%;
    margin: 30px auto;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
    border: none;
}

.accordion:first-of-type {
    border-radius: 5px 5px 0px 0px;
}

.accordion:last-of-type {
    border-radius: 0px 0px 5px 5px;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\002D";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.panel ol li {
    padding: 5px 0px;
}

.otherContent {
    justify-content: center;
    background-color: #512d6d;
    text-align: center;
    padding: 55px;
}

.otherContent h1 {
    color: #fff;
    font-weight: 800;
}

.moreBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #512d6d;
    font-weight: 600;
    line-height: 1.6em;
    font-size: 16px;
    transition: 0.5s;
}

.moreBtn:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}

.footerContent {
    background-color: #5f6368;
    padding: 30px;
}

.contactContent {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.needHelp p {
    font-weight: 800;
    color: #fff;
}

.serviceContact p {
    color: #fff;
}

.serviceContact a {
    color: #fff;
}

.companyLogo, .needHelp, .serviceContact {
    margin: 0 10px 0 10px;
}

.disclaimerContent {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contactUs, .visitUs, .disclaimer {
    margin: 0 10px 0 10px;
}

.disclaimerContent a {
    color: #fff;
    transition: 0.5s;
}

.disclaimerContent a:hover {
    color: #d8d8d8;
}

@media screen and (max-width: 600px) {
    .optionsGrid {
        display: grid;
        grid-template-areas:
            'drivers' 
            'vehicles' 
            'mcp'
            'organ' 
            'forestry' 
            'covid';
        padding: 30px 0px;
        gap: 20px;
    }
    .contactContent {
        flex-direction: column;
        text-align: center;
    }
}
