* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

/* Card Settings */

.cardContent {
    margin: 5% auto;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 2px #ccc;
}

/* Card Header Area Settings */

.cardHeader {
    text-align: center;
    height: 100px;
    color: #fff;
    background-image: url(../images/headerback.jpg);
    border-radius: 20px 20px 0px 0px;
}

.profileImage {
    text-align: center;
    margin-top: -70px;
}

.profileImage img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #fff;
}

/* Profile Area Settings */

.profileInfo {
    text-align: center;
}

.profileInfo a {
    text-decoration: none;
    color: #000;
}

.studentInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studentInfo img {
    width: 80px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.studentInfo h4 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Social Contact Area Settings */

.socialContent {
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
}

.socialContent i {
    padding: 0px 10px;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-linkedin {
    color: #0E76A8;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-github {
    color: #000;
}